<footer class="l-footer">
    <div class="c-footer">
        <a class="c-footer__logo" href="/">
            <figure class="c-footer__logo__img">
                <img src="<%- baseDir %>/assets/img/common/footer_logo.png" alt="味の素株式会社">
            </figure>
        </a>
        <ul class="c-footer__list">
            <li class="c-footer__list__item">
                <a class="c-footer__list__link" href="https://members.ajinomoto.co.jp/ajinomotoid/terms-of-service.html" target="_blank">
                    <span class="c-footer__list__text">ご利用規約</span>
                </a>
            </li>
            <li class="c-footer__list__item">
                <a class="c-footer__list__link" href="https://www.ajinomoto.co.jp/privacy/" target="_blank">
                    <span class="c-footer__list__text">プライバシーポリシー</span>
                </a>
            </li>
            <li class="c-footer__list__item">
                <a class="c-footer__list__link" href="https://members.ajinomoto.co.jp/ajinomotoid/index.html#contact" target="_blank">
                    <span class="c-footer__list__text">お問い合わせ</span>
                </a>
            </li>
        </ul>
        <p class="c-footer__copyright">&copy; AJINOMOTO CO.,INC. All Rights Reserved.</p>
    </div>
</footer>