<header class="l-header">
    <div class="c-header__wrap">
        <div class="c-header">
            <a class="c-header__link" href="https://members.ajinomoto.co.jp/ajinomotoid/index.html">
                <figure class="c-header__logo">
                    <img src="<%- baseDir %>/assets/img/common/ajinomotoid_r.svg" alt="味の素株式会社">
                </figure>
            </a>
        </div>    
    </div>
</header>